.container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    ul {
        list-style: none;
        display: flex;
        gap: 8px;
    }

    a {
        text-decoration: none;
        color: var(--dark-brown);
        font-size: 20px;
        transition: 0.1s;
        font-weight: bold;

        &:visited {
            color: var(--dark-brown);
        }

        &:hover {

            color: white;
        }
    }
}